.app-chatwindow {
  background-color: #181818;
  color: rgb(10, 10, 13);
  width: calc(100% - 250px);
  position: fixed;
  top: 0;
  left: 250px;
  height: 44rem;
}

.app-sidebar {
  width: 250px !important;
  height: 44rem;
  background-color: #151515;
  position: fixed;
  top: 0;
  left: 0;
}
.chats {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(113vh - 285px);
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 33%) #1e1e1e;
}
.userDiv {
  padding: 1.5rem 17rem 1rem 27rem;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.gptDiv {
  padding: 0rem 21rem 1.8rem 17.5rem;
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
}
.usermessage {
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 14px;
  width: fit-content;
}
@media (max-width: 1500px) {
  .chats {
    padding: 1rem 16rem 1rem 15rem;
  }

  .userDiv {
    padding: 2rem 0rem 0rem 7rem;
  }
  .gptDiv {
    padding: 2rem 0rem 0rem 1rem;
  }
}

@media (max-width: 1200px) {
  .chats {
    padding: 1rem 9rem 1rem 9rem;
  }

  .userDiv {
    padding: 2rem 0rem 0rem 5rem;
  }
  .gptDiv {
    padding: 2rem 0rem 0rem 1rem;
  }
}

@media (max-width: 992px) {
  .chats {
    padding: 1rem 6rem 1rem 7rem;
  }
  .userDiv {
    padding: 2rem 0rem 0rem 4rem;
  }
  .gptDiv {
    padding: 1rem 0rem 1rem 0rem;
    max-width: 100%;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .chats {
    padding: 2rem 2rem 1rem 4rem;
  }

  .userDiv {
    padding: 2rem 0rem 0rem 5rem;
  }
  .gptDiv {
    max-width: 100%;
    font-size: 0.9rem;
  }
}

.hljs {
  border-radius: 14px;
}

.pre {
  white-space: pre-wrap;
}