.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 250px;
  position: fixed;
  background-color: #151515;
}

.icon-row {
  display: flex;
  align-items: center;
  gap: 130px;
  flex-shrink: 0;
  padding: 5px 5px 14px 5px;
  border-bottom: 0.01px solid rgb(43, 41, 41);
}

.logo {
  width: 50px;
  padding: 5px 0;
  filter: invert(100%);
}

.logo:hover {
  cursor: pointer;
  background-color: rgb(183, 183, 195);
  border-radius: 30px;
}

.toggle-icon {
  padding: 10px;
  margin-top: 3px;
}

.toggle-icon:hover {
  background-color: #4e4949;
  border-radius: 10px;
  cursor: pointer;
}

.history-li:hover {
  cursor: pointer;
  background-color: rgba(94, 90, 90, 0.34);
  border-radius: 10px;
}

.profile-section {
  position: fixed;
  bottom: 0px;
  z-index: 1000;
}

.profile {
  background-color: #212121;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 14.5rem;
  margin: 5px;
}

.profile-list {
  text-decoration: none;
  color: white;
  margin: 2px 3px;
  padding: 5px;
  border-radius: 8px;
  font-size: 0.9rem;
}

.profile-list:hover {
  background-color: #171717;
  cursor: pointer;
}

.profile-header {
  cursor: pointer;
  border-radius: 8px;
  background-color: #292828;
  width: 245px;
  margin: 3px 3px 0px 3px;
  height: 60px;
}

.profile-header:hover {
  background-color: #303030;
}

.profile-img {
  height: 40px;
  width: 35px;
  border-radius: 45%;
  margin-left: 10px;
  margin-bottom: 9px;
}

.username {
  font-size: 0.9rem;
}

.highlighted {
  background-color: rgba(107, 100, 100, 0.211);
  border-radius: 10px;
}

/* Scrollable content */
.sidebar-body {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: #555 #1e1e1e;
  margin-bottom: 55px;
}

.sidebar-icons,
.history {
  list-style: none;
  margin: 0;
  padding: 0;
}

.create-sidebar-icon {
  padding: 9px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgb(70, 67, 67);
  border-radius: 10px;
}

.create-sidebar-icon:hover {
  background-color: rgba(94, 90, 90, 0.34);
  border-radius: 10px;
}

.search-input {
  height: 20px;
  background-color: #151515;
  border: 1px solid rgb(70, 67, 67);
}

.search-input:hover {
  background-color: #303030;
}

.list-of-chats {
  border-radius: 10px;
  border: 1px solid rgb(70, 67, 67);
  height: 42px;
  margin: 0;
  padding: 0;
  cursor: auto;
  background-color: #1d1d1d;
}

.highlight {
  background-color: yellow;
  color: black;
  border-radius: 3px;
}

.logout-btn {
  background: none;
  display: inline-flex;
  border: none;
  color: white;
  padding: 0;
  width: 210px;
}

.logout-btn:hover {
  background: none;
  color: white;
}

.profile-logout {
  text-decoration: none;
  color: white;
  margin: 2px 3px;
  padding: 5px;
  border-radius: 8px;
  font-size: 0.9rem;
  height: 40px;
}

.profile-logout:hover {
  background-color: #171717;
  cursor: pointer;
}

.user-email:hover {
  cursor: default;
  color: inherit;
  background-color: inherit;
}
